body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #031540;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-info {
    text-align: center;
    margin-bottom: 40px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #0056b3;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    text-align: center;
    font-size: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.home-link {
    text-align: center;
    margin-top: 20px;
}

.home-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-link a:hover {
    background-color: #2980b9;
}

.designed{
    color: #fff;
    position: bottom;
    text-align: center;
}

.credits{
    color: #fff;
    position: bottom;
    text-align: center;
    text-decoration: none;
}

.credits a{
    color: #007bff;
    position: bottom;
    text-align: center;
    text-decoration: none;
}